body {
		font-family: arial, sans-serif;
		text-align: center;
}

div.container {
    overflow-y: auto;
    height: 100%;
    position: sticky;
    top: 0px;
}

h2 {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table.conversions {
    max-width: 400px;
}

th {
    background: #eee;
    position: sticky;
    top: 0px;
}

td, th {
    padding: 5px;
    text-align: center;
    border: 1px solid #dddddd;
    word-wrap: break-word;
    width: 100px
}

tr:nth-child(even) {
    background-color: #dddddd;
}

p.ex1 {
    max-width: 500px;
}